* {
    font-family: Gilroy-Medium;
    font-size: 20px;
}

body {
    width: 100%;
}


#scissor {
    color: #0065FE;
    font-family: Gilroy-Bold;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
    font-weight: bold;

}

#logo {
    margin-left: 350px;
    margin-top: 200px;

}

.figures {
    font-weight: bold;
}

.head {
    font-weight: bold;
}

#price {
    font-weight: bolder;
}

.professionaltitle {
    font-family: Gilroy-Medium;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: center;

}


.revolution-text {
    font-family: Gilroy-Bold;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: center;
}

.add-background {

    background-image: url('/assets/images/background.png');
    background-size: cover;
    color: white;
}


#charge {
    font-family: Gilroy-Bold;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: 0em;
}

.btn {
    border-radius: 20px;
}

.toggle-faqs {
    border-bottom: 1px solid rgba(214, 214, 214, 1);
    padding: 10px;
}

.toggle-faqs .col-md-1 {
    font-size: 20px;
}

#faqs {
    font-weight: bolder;
    border-left: 25px solid black;
}

.card {
    border-radius: 12px;
    height: 355px;
}

.form-control {
    border-radius: 10px;
}

.pricing-btn {
    border: 1px solid blue;
    color: blue;
}

.professional {
    background-color: rgba(30, 52, 72, 1);
    border-radius: 12px;
    height: 630px;
    color: white;

}










.choose {
    background: #F9FBFD;



    width: Hug (1, 446px);
    height: Hug (220px);
    left: -3px;
    padding: 60px 140px 60px 140px;
    gap: 120px;


    ;
}

.choose2 {
    width: Hug (1, 202.1px);
    height: Hug (504px);
    top: 348px;
    left: 120px;
    gap: 96px;
    padding-top: 10px;
}

.omara {
    width: Hug (1, 202.1px);
    height: Hug (504px);
    top: 348px;
    left: 120px;
    gap: 96px;


}

.side-price-border {
    border: 1px solid blue;
    margin-top: 0px;
    margin-bottom: 30px;
    border-radius: 10px 10px 10px 10px;
    margin: -19px;
    height: auto;
}



.perfect {
    width: Hug (576.1px);
    height: Hug (108px);
    top: 42px;
    left: 432px;
    gap: 16px;
}


#basic {
    font-family: Gilroy-Medium;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: center;
}

#bold {

    font-family: Gilroy-Bold;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: center;
    font-weight: bold;

}

#free {
    font-family: Gilroy-Medium;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: center;

}

#terms {
    font-size: 15px;


}



.icon-border {
    background-color: rgb(195, 195, 241);
    border-radius: 100%;
    width: 50px;
    height: 50px;
}

#foot {
    display: flex;
    margin-left: 80px;
    font-size: 80px;
    gap: 10px;
}

#text {
    font-size: 24px;
}



.socials {
    display: flex;
    gap: 15px;
    font-size: 25px;
    margin-left: 70px;

}

.foot-head {
    font-weight: bold;
}

.float-right {
    margin-right: 200px;
    width: Hug (296px);
    height: Hug (20px);
    top: 502px;
    left: 1017px;
    padding: 0px 12px 0px 12px;
    gap: 8px;

}